.checkout{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.check__info{
    padding-left: 20px;
}
.check__info > button {
    background: orange;
    border: 1px solid;
    margin-top: 10px;
    border-color: orange;
    color: black;
}
.check__img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.check__title{
    font-size: 17px;
    font-weight: 800;
}